.topSection {
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 24px;

  .yearsNav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      padding: 4px 8px;
    }
  }
}

.years {
  max-width: 800px;
  margin: 0 auto;
  padding: 14px;

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .yearDesc {
    padding: 14px 40px 0;
    font-size: 14px;
    line-height: 24px;
  }
}

.year {
  margin: 28px auto 100px;
}

.idol {
  cursor: pointer;
  width: 100px;
  font-size: 12px;
  box-shadow: 0 2px 4px 0 rgba(#444444, 0.2);
  overflow: hidden;
  user-select: none;

  .twrapper {
    width: 100px;
    transition: 0.3s;
    background-color: #000000;
  }

  &.major {
    .name {
      font-weight: bold;
    }
  }

  &.selected {
    width: 228px;
    height: 276px;

    .twrapper {
      width: 228px;
      height: 276px;
    }
  }

  .top {
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #F7F7F7;
  }

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #F7F7F7;
    z-index: 20;
  }

  .desc {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 19;
    width: 130px;
    padding: 8px;

    .title {
      padding-bottom: 8px;
    }

    a {
      padding: 0 2px;
    }
  }

  .name {
    padding: 4px;
    height: 24px;
    line-height: 16px;
    clear: both;
    background-color: #FFFFFF;

    span {
      color: #999999;
    }
  }

  iframe {
    // position: absolute;
  }
}

// .mixed-group {
//   background: lightyellow;
// }
// .girl-group {
//   background: pink;
// }
// .boy-group {
//   background: skyblue;
// }
// .girl-solo {
//   background: pink;
// }
// .boy-solo {
//   background: skyblue;
// }
