.years {
  padding: 14px;

  label {
    font-size: 24px;
    font-weight: bold;
  }

  .yearDesc {
    padding: 14px 40px 0;
    font-size: 14px;
    line-height: 24px;
  }
}

.year {
  margin: 28px auto 100px;
}

.idol {
  cursor: pointer;
  width: 100px;
  font-size: 12px;
  transition: 0.3s;
  box-shadow: 0 2px 4px 0 rgba(#444444, 0.2);
  overflow: hidden;

  &.major {
    .name {
      font-weight: bold;
    }
  }

  &.selected {
    width: 228px;
  }

  .top {
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: rgba(#D8D8D8, 0.2);
  }

  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 20;
  }

  .desc {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 19;
    width: 130px;
    padding: 8px;
  }

  .name {
    padding: 4px;
    height: 24px;
    clear: both;
  }

  iframe {
    position: absolute;
  }
}

// .mixed-group {
//   background: lightyellow;
// }
// .girl-group {
//   background: pink;
// }
// .boy-group {
//   background: skyblue;
// }
// .girl-solo {
//   background: pink;
// }
// .boy-solo {
//   background: skyblue;
// }
